<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Eastern Conference
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="team-select1">
        <li><a class="dropdown-item" href="http://localhost:3001" value="eastteam1">Wizards</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CHA" value="eastteam2">Hornets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/ATL" value="eastteam3">Hawks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIA" value="eastteam4">Heat</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/ORL" value="eastteam5">Magic</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/NY" value="eastteam6">Knicks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/PHI" value="eastteam7">Sixers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/BKN" value="eastteam8">Nets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/BOS" value="eastteam9">Celtics</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/TOR" value="eastteam10">Raptors</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CHI" value="eastteam11">Bulls</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CLE" value="eastteam12">Cavaliers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/IND" value="eastteam13">Pacers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DET" value="eastteam14">Pistons</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIL" value="eastteam15">Bucks</a></li>
    </ul>
    {{!-- <button id="eastern" class="btn btn-primary">Submit</button> --}}
{{!-- </div>
<div class="dropdown"> --}}
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Western Conference 
    </button> 
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" id="team-select2">
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIN" value="westteam1">Timberwolves</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/UTA" value="westteam2">Jazz</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/OKC" value="westteam3">Thunder</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/POR" value="westteam4">Trailblazers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DEN" value="westteam5">Nuggets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MEM" value="westteam6">Grizzlies</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/HOU" value="westteam7">Rockets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/NO" value="westteam8">Pelicans</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/SA" value="westteam9">Spurs</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DAL" value="westteam10">Mavericks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/GS" value="westteam11">Warriors</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/LAL" value="westteam12">Lakers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/LAC" value="westteam13">Clippers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/PHO" value="westteam14">Suns</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/SAC" value="westteam15">Kings</a></li>
    </ul>
    {{!-- <button id="western" class="btn btn-primary">Submit</button> --}}
</div>
{{!-- <script src="/js/search.js"></script> --}}




{{#each comments as |comment| }}
<div>
    <h2>
        <p>
            {{comment.description}}
        </p>
        {{!-- if comment.user.name doesn't work, remove it. down below --}}
        <h3>
            Created by {{comment.user.name}} on {{format_date comment.date_created}}
        </h3>
    </h2>
</div>
{{/each}}





<body>




<section style="background-color: #e7effd;">
  <div class="container my-5 py-5 text-dark">
    <h2 class="mb-5">What other fans are saying</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-7">
        <div class="d-flex flex-start mb-4">
          {{!-- <img class="rounded-circle shadow-1-strong me-3"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
            height="65" /> --}}
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>Johny Cash</h5>
                <p class="small">3 hours ago</p>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                  ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                  viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                  Donec lacinia congue felis in faucibus ras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis.
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                    <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                  </div>
                  <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-start">
          {{!-- <img class="rounded-circle shadow-1-strong me-3"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="65"
            height="65" /> --}}
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>Mindy Campbell</h5>
                <p class="small">5 hours ago</p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
                  cumque doloribus dolorum dolor repellat nemo animi at iure autem fuga
                  cupiditate architecto ut quam provident neque, inventore nisi eos quas?
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>158</a>
                    <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>13</a>
                  </div>
                  <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                {{#each comments}}
                <h5 class="small mb-0 ms-2">{{user.name}}</h5>
                <p class="small">{{format_date date_created}}</p>
                <p>{{description}}</p>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <section style="background-color: #2597d9;">
  <div class="container my-5 py-5 text-dark">
    <div class="new-comment-form">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              {{!-- <img class="rounded-circle shadow-1-strong me-3"
                src="" alt="avatar" width="65" //we want to change this to username
                height="65" /> --}}
              <div class="w-100">
                <h5>What game are you going to?</h5>
                <div class="form-outline">
                  <input type="text" name="post-id" />
                  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                  {{!-- <label class="form-label" for="textAreaExample">What is your view?</label> --}}
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="submit" class="btn btn-success">Send</button>
                  {{!-- <button type="button" class="btn btn-danger">
                    Delete <i class="fas fa-long-arrow-alt-right ms-1"></i>
                  </button> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>


    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
