    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-12 text-white showcase-img"
                    style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                <div class="col-lg-12 my-auto showcase-text">
                    <h2>What is Game Connect? </h2>
                    <p class="lead mb-0">Use Game Connect to plan and coordinate meet up events to your favorite sporting events. Whether you want to party at the tailgate, finding people to go sit with, or just wanting to connect with other fans, Game Connect is here to help. </p>
                </div>
            </div>
            
        </div>
    </section>

<div>
    {{!-- eastern conference --}}
    <select id="team-select1">
        <option value="east">Eastern Conference</option>
        <option value="eastteam1">Wizards</option>
        <option value="eastteam2">Hornets</option>
        <option value="eastteam3">Hawks</option>
        <option value="eastteam4">Heat</option>
        <option value="eastteam5">Magic</option>
        <option value="eastteam6">Knicks</option>
        <option value="eastteam7">Sixers</option>
        <option value="eastteam8">Nets</option>
        <option value="eastteam9">Celtics</option>
        <option value="eastteam10">Raptors</option>
        <option value="eastteam11">Bulls</option>
        <option value="eastteam12">Cavaliers</option>
        <option value="eastteam13">Pacers</option>
        <option value="eastteam14">Pistons</option>
        <option value="eastteam15">Bucks</option>
    </select>
    <button id="eastern">Submit</button>
</div>
<div>
    {{!-- western western conference --}}
    <select id="team-select2">
        <option value="west">Western Conference</option>
        <option value="westteam1">Timberwolves</option>
        <option value="westteam2">Jazz</option>
        <option value="westteam3">Thunder</option>
        <option value="westteam4">Trailblazers</option>
        <option value="westteam5">Nuggets</option>
        <option value="westteam6">Grizzlies</option>
        <option value="westteam7">Rockets</option>
        <option value="westteam8">Pelicans</option>
        <option value="westteam9">Spurs</option>
        <option value="westteam10">Mavericks</option>
        <option value="westteam11">Warriors</option>
        <option value="westteam12">Lakers</option>
        <option value="westteam13">Clippers</option>
        <option value="westteam14">Suns</option>
        <option value="westteam15">Kings</option>
    </select>
    <button id="western">Submit</button>
    <script src="/public/js/search.js"></script>
</div>





<body>
    <!-- Navigation-->

    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Generate more leads with a professional landing page!</h1>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddress" type="string"
                                        placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">
                                        Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email
                                        Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton"
                                        type="submit">Submit</button></div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white"
                                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid-->
    {{!-- <div class="row mb-4 project">
    <div class="col-md-5">
        <p> {{description}} </p>
        <h2>
            Created by {{user.name}} on {{format_date date_created}}
        </h2>
    </div>
</div> --}}
    <!-- Image Showcases-->



<section style="background-color: #e7effd;">
  <div class="container my-5 py-5 text-dark">
    <h2 class="mb-5">What other fans are saying</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-7">
        <div class="d-flex flex-start mb-4">
          {{!-- <img class="rounded-circle shadow-1-strong me-3"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
            height="65" /> --}}
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>Johny Cash</h5>
                <p class="small">3 hours ago</p>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                  ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                  viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                  Donec lacinia congue felis in faucibus ras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis.
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                    <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                  </div>
                  <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-start">
          {{!-- <img class="rounded-circle shadow-1-strong me-3"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="65"
            height="65" /> --}}
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>Mindy Campbell</h5>
                <p class="small">5 hours ago</p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
                  cumque doloribus dolorum dolor repellat nemo animi at iure autem fuga
                  cupiditate architecto ut quam provident neque, inventore nisi eos quas?
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>158</a>
                    <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>13</a>
                  </div>
                  <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                {{#each comments}}
                <h5 class="small mb-0 ms-2">{{user.name}}</h5>
                <p class="small">{{format_date date_created}}</p>
                <p>{{description}}</p>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <section style="background-color: #2597d9;">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              {{!-- <img class="rounded-circle shadow-1-strong me-3"
                src="" alt="avatar" width="65" //we want to change this to username
                height="65" /> --}}
              <div class="w-100">
                <h5>What game are you going to?</h5>
                <div class="form-outline">
                  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                  {{!-- <label class="form-label" for="textAreaExample">What is your view?</label> --}}
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-success">Send</button>
                  <button type="button" class="btn btn-danger">
                    Delete <i class="fas fa-long-arrow-alt-right ms-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
