
<div>

{{!-- <div>


sports data
{{#each teamGames}}
<h1>{{this.Day}}</h1>
{{/each}}
    

</div>

</div> --}}

<div class="accordion accordion-flush" id="resultsPopulate">
 
  
</div>

<script src="/js/result.js"></script>


{{#each teamGames}}
  <div class="accordion accordion-flush" id="resultsPopulate">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{GlobalGameID}}" aria-expanded="false" aria-controls="{{GlobalGameID}}">
          {{HomeTeam}} vs {{AwayTeam}}
        </button>
      </h2>
      <div id="{{GlobalGameID}}" class="accordion-collapse collapse" data-bs-parent="#resultsPopulate">
        <div class="accordion-body">
          Home Team: {{HomeTeam}}<br>
          Home Score: {{HomeTeamScore}}<br>
          Away Team: {{AwayTeam}}<br>
          Away Score: {{AwayTeamScore}}<br>
          Date: {{format_date DateTime}}<br>
           <a 
                class="btn btn-primary save-btn" 
              
                data-home-team="{{HomeTeam}}" 
                data-home-score="{{HomeTeamScore}}"
                data-away-team="{{AwayTeam}}"
                data-away-score="{{AwayTeamScore}}"
                data-date-time="{{DateTime}}"
                data-day="{{Day}}"
                role="button">Save</a>
          
        </div>
      </div>
    </div>
  </div>
{{/each}}


//feature-new-team-save
{{!-- <script src="/js/result.js"></script> --}}

<script src="/js/save.js"></script>
<script src="/js/result.js"></script>

